.Navbar {
    
}

.Navbar .bar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Navbar .bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Navbar .bar ul li {
    margin: 0 20px 0 20px;
}